body {
    background-color: #DFF6FF !important;
}

.container-fluid {
    padding: 5% 7% 1%;
}

img {
    width: 190px
}

.name {
    font-family: 'PT Mono', monospace;
    margin: 2%;
}

.quote {
    font-family: 'Ms Madi', cursive;
    font-size: 30px;
    width: 50%;
    margin: auto;
}

.middle-section {
    /* background-color: #fff; */
    padding: 3% 0%;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.element {
    width: 400px;
    margin: 20px auto !important;
}

#phoneNumber {
    background-color: #fff;
    padding: 20px;
}

#phone {
    display: block;
}


i {
    font-size: 1.5rem;
}

.btn {
    --bs-btn-padding-y: 20px !important;
    --bs-btn-padding-x: 20px !important;
    --bs-btn-font-size: 20px !important;
    --bs-btn-bg: #fff !important;
    --bs-btn-border-color: #fff !important;
}

.item {
    display: inline-block;
}

.footer {
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}